body {
	font-family: 'Noto Sans TC', sans-serif;
}

/* 設定 html,body 抓到瀏覽器高度 */
html,
body {
	height: 100%;
	font-size: 14px;
}

#navbar {
	width: 100%;
	height: 11%;
	padding: 2px 20px;
	position: fixed;
	margin: auto;
	background: white;
	z-index: 3;
}

#navbar div {
	/* height: 8%; */
	display: inline;
	top: 10%;
	margin-top: 0;
	margin: auto;
}

#navbar img {
	padding-top: 10px;
	height: 40%;
}

#navbar a {
	padding-top: 10px;
}

.top-o {
	position: absolute;
	top: 10px;
	left: 25%;
	display: block;
	width: 360px;
	height: 40px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 30px 0px 0px 30px;
}

.top-o::before {
	content: '';
	width: 60px;
	height: 40px;
	position: absolute;
	top: -1px;
	right: -60px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 0px 30px 30px 0px;
	background: rgb(233, 233, 233);
}

#navbar .sidebar3-btn {
	display: inline-block;
	width: 70px;
	border: 1px solid rgba(190, 190, 190, 0.3);
	border-radius: 30px;
	padding: 10px;
	margin-left: 15px;
	text-align: center;
	color: blue;
}

#navbar .sidebar3-btn:hover {
	background: rgba(99, 146, 248, 0.3);
	border-radius: 50px;
}

.fa-magnifying-glass {
	display: inline-block;
	position: relative;
	top: -18px;
	left: 860px;
	color: rgb(104, 102, 102);
}

.fa-microphone {
	display: inline-block;
	font-size: 20px;
	width: 22px;
	height: 22px;
	background: rgb(224, 224, 224);
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	position: absolute;
	right: 760px;
	top: 11px;
}

.fa-microphone:hover {
	background: rgba(99, 146, 248, 0.3);
}
.top-right {
	position: absolute;
	right: 5%;
}

table {
	top: 60%;
	position: absolute;
	transform: translate(65%);
}

#navbar th a {
	display: inline-block;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: white;
	background: rgb(8, 8, 8);
	padding: 5px 8px;
	border-radius: 8px;
	margin-right: 10px;
}

#navbar a {
	text-decoration: none;
	color: black;
}
td {
	display: inline-block;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: rgba(231, 231, 231, 0.5);
	padding: 5px 10px;
	border-radius: 8px;
	margin-right: 10px;
}

#sidebar {
	width: 12%;
	height: 92vh;
	margin-right: 5px;
	position: fixed;
	background: white;
	float: left;
	margin-top: 7vh;
	z-index: 4;
}

#sidebar:hover {
	overflow: scroll;
}

#sidebar hr {
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#sidebar ul {
	padding: 8px;
}

#sidebar li {
	font-size: 1rem;
	padding: 0.2rem 0;
}

#sidebar li:hover {
	background: rgba(190, 190, 190, 0.3);
	border-radius: 10px;
}

#sidebar a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.5rem 1.5rem;
	transition: 0.5s;
}

#sidebar a:hover {
	/* background: rgba(99, 146, 248, 0.3); */
	border-radius: 50px;
}

span {
	padding-left: 11%;
}

#sidebar .sidebar3-btn {
	display: inline-block;
	width: 70px;
	border: 1px solid rgba(190, 190, 190, 0.3);
	border-radius: 30px;
	padding: 10px;
	margin-left: 10%;
	text-align: center;
	color: blue;
}

#sidebar .sidebar3-btn:hover {
	background: rgba(99, 146, 248, 0.3);
	border-radius: 50px;
}

#sidebar h4 {
	padding: 3% 0;
	font-size: 13.5px;
	line-height: 1.5rem;
	padding-left: 30px;
}

#content {
	width: 88%;
	/* height: 92vh; */
	background: white;
	float: right;
	margin-top: 12vh;
	z-index: 1;
}

.menu {
	width: 320px;
	/* height: 30%; */
	display: inline-block;
	margin: 2px;
	font-size: 0;
	vertical-align: top;
}

.menu-top {
	width: 100%;
	height: 66%;
}

.menu-top img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
}

.menu-bottom {
	padding-top: 12px;
	width: 100%;
	height: 34%;
	background: white;
}
.menu-bottom:hover {
	background-image: url(../images/ooo.jpg);
	background-repeat: no-repeat;
	background-position: 100% 15%;
}

.small-left {
	width: 15%;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.small-left img {
	width: 100%;
	border-radius: 50%;
}

.small {
	width: 78%;
	height: 100%;
	display: inline-block;
	padding-left: 10px;
	font-size: 1rem;
}
.small h1 {
	color: black;
	line-height: 1.4rem;
	display: block;
	width: 100%;
	/* height: 3rem; */
	overflow: hidden;
}

.small p {
	font-size: 12px;
	color: gray;
	line-height: 1.2rem;
}

.small-right img {
	width: 100%;
}
